*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#dcdde0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.header{
    top: 0;
    position: fixed;
    width: 100%;
    min-width: 768px;
    height: 54.33px;
    background-color: #fff;
    z-index: 3000;
}
.header-inner{
    display: inline-block;
    width: 25%;
    height: 54.33px;
    margin: 0 15%;
    background-color: #fff;
}
.search-form-wrapper{
    position: absolute;
    top: 0;
    right: 17%;
    display: inline-block;
    width: 225px;
    height: 100%;
}
.search-form{
    width: 100%;
    height: 100%;
    padding: 6.17px 0;
}
.search-form-wrapper input{
    width: 187px;
    height: 38px;
    border: none;
    padding: 4px 16px;
    
    border-radius: 5% 0 0 5%;
    background-color: #f4f4f4;
}
.search-form-wrapper input:focus{
    outline: none;
}
.search-form-wrapper input:focus + button::after{
    background-color: #0092e3;
}
.search-form-wrapper input:focus + button::before{
    border:2px solid #0092e3;
}
.search-form-btn{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    
}
.search-form-btn::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid #354858;
    top: 10px;
    right: 13px;
    border-radius: 100%;
    transition: all .5s ease-in-out;
}
.search-form-btn::after{
    content: "";
    position: absolute;
    background: #354858;
    height: 7px;
    width: 2px;
    right: 12px;
    bottom: 10px;
    transform: rotate(-45deg);
    transition: all .5s ease-in-out;
}
.search-form-btn:hover{
    cursor: pointer;
}




nav{
    position: fixed;
    top: 50px;
    width: 100%;
    
    background-color: #fff;
    z-index: 3000;

}
.header-nav{
    width: 100%;
    
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.header-nav li{
    display: inline-block;
    list-style-type: none;
    width: auto;
    text-align: center;
    height: 30px;
    line-height: 2em;
    padding: 0px 6px;
    margin: 0 15px;
}
.header-nav li a{
    position: relative;
    color: #000;
}
.header-nav li a::after{
    --scale: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 130%;
    height: 2px;
    background: #000;
    -webkit-transform: scaleX(var(--scale));
            transform: scaleX(var(--scale));
    transition: -webkit-transform 0.1s cubic-bezier(0.535, 0.05, 0.355, 1);
    transition: transform 0.1s cubic-bezier(0.535, 0.05, 0.355, 1);
    transition: transform 0.1s cubic-bezier(0.535, 0.05, 0.355, 1), -webkit-transform 0.1s cubic-bezier(0.535, 0.05, 0.355, 1);
}

.header-nav li a:hover::after {
    --scale: 1;
  }










.content{
    width: 100%;
    max-width: 1200px;
    margin: 82px auto 0;
    padding: 32px;
    position: relative;
 }

.swapper{
    position: relative;
    max-width: 1136px;
    width: 100%;
    
    margin: 0 auto 20px;
}

.swap-box{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.swap-box::before{
    display: block;
    content: '';
    width: 100%;
    padding-top: 37%;
    
}

.title-text{
    display: inline-block;
    position: absolute;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    padding: 5px 5px 5px 0;
    top: 50%;
    transform: translateY(-50%);
    left:50px
}

/* new */
#container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swapper li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* use JS to change left value */
/* .swapper li:nth-of-type(n + 2) {
    left: 100%;
} */
#container :nth-child(1){
    left: 0;
}
#container :nth-child(2){
    left: 100%;
}
#container :nth-child(3){
    left: 200%;
}
#container :nth-child(4){
    left: 300%;
}


.swapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.b-left,.b-right{
    position: absolute;
    width: 38px;
    height: 38px;
    color: #384c5b;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 999;
}
.b-left{
    top: 50%;
    margin-top: -20px;
    left: -20px;
}
.b-right{
    top: 50%;
    margin-top: -20px;
    right: -20px;
}
.b-left:hover ,.b-right:hover{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #00a2bc;
    transition: .3s ease;
}









.section-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1136px;
    width: 100%;
    background-color: #f4f4f4;
    margin: 40px auto;
    padding: 16px;
}


.section-card::before{
    display: block;
    content: '';
    padding-top: 22%;
}

.section-card h1{
    
    font-size: 22px;
    color: #0092e3;
    width: 100%;
    height: 30px;
    
}
.cards-box-popular{
    position: absolute;
    width: 99%;
    max-width: 1120px;
    top: 46px;
    height: auto;
    display: flex;
    margin: -8px;
}
.cards-popular{
    position: relative;
    width: 100%;
    padding-top: 0;
    background-color: aquamarine;
    margin:7px;
    overflow: hidden;
}

.cards-popular h2{
    position: absolute;
    z-index: 99;
    color: #fff;
    left: 16.5px;
    bottom: 16.5px;
}
.section-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .1s ease ;
}

.cards-popular:hover{
    cursor: pointer;
    
}
.cards-popular:hover h2{
    background-color: #0092e3;
}
.cards-popular img:hover,.cards-box img:hover{
    transform: scale(1.1);
}








.subscribe-box~.section-card::before{
    padding-top: 0;
}

.grid{
    width: 100%;
    max-width: 1120px;
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.cards-contain{
    width: 24%;
    height: 100%;
    max-height: 268px;
    max-width: 264px;
    display: flex;
    flex-direction: column; 
    background-color: #fff;
}
.cards-contain:hover{
    cursor: pointer;
}
.cards-contain:hover img{
    transform: scale(1.1);
}
.cards-contain:hover h2{
    color:#0092e3;
}
 .cards-box{
    min-height: 70%;
    width: 100%;
    
    
} 

.cards{
    
    width: 100%;
    height: 100%;
    max-height: 187px;
    overflow: hidden;
}


.text{
    height: min-content;
    padding: 12px;
    background-color: #fff;
}

.cards-contain h2{
    font-size: 16px;
    font-weight: bold;
    height: min-content;
}










.subscribe-box{
    position: relative;
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    
    padding: 24px;
    background-color: #344858;
    display: flex;
    flex-wrap: wrap;
}
.subscribe-box::before{
    display: block;
    content: '';
    padding-top: 0%;
}
.subscribe-container{
    
    width: 1000px;
    height: 69px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.subscribe-box h1{
    font-size: 10px;
    color: #fff;
    
}
.subscribe-info{
    width: 50%;
    height: auto;
    background-color: #344858;
}
.subscribe{
    width: 50%;
    height: 69px;
    background-color: #344858;
    display: flex;
    align-items: center;
    
    
}
.subscribe-box input{
    height: 40px;
    width: auto;
    
    padding: 0 16px;
    border: 0;
    border-radius: 3px;
    flex-grow: 8;
}
.subscribe-box button{
    width: auto;
    height: 32px;
    margin-left:16px;
    padding: 8px 16px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    background-color: #FF8B00;
    flex-grow: 1;
}
.subscribe-box button:hover {
    cursor:pointer;
    background-color: #FFAF60;
}
.subscribe-box p{
    
    font-size:12px;
    height: 14px;
    width: 100%;
    margin-top: 20px;
    color: #ABAFB8;
}

.footer{
    height: auto;
    width: auto;
    background-color: #abafb8;
    text-align: center;
    font-size: 13px;
    color: #747882;
    padding: 25px 16px;
}
.footer li{
    height: 26px;
    display: inline-block;
}
.footer a{
    line-height: 26px;
    font-size: 13px;
    color: #747882;
    margin: 0 10px;
}

svg{
    width: 308px;
    height: 51.33px;
}

html{
    font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:13px;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}

@media screen and (max-width: 1187px){
    .content{
        
        width: 96%;
        margin: 100px auto 0;
    }
    .swapper{
        width: 99%;
        
    }
    

}